:root{
  --pink:#de7878;
  --blue:#8ea3c0;
  
}


body{
  background-color: #50138e;
  color: rgb(255, 255, 255);
}
main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.915);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;

}
button.with-text{
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
 
}
button.with-text svg{
  width:46px;
  float: left;
  margin-right: 5px;
}
label{
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}







