.slider{
    height: 40px;
    border: 2px solid var(--pink);
    border-radius: 20px;

}

.thumb{
    background-color: var(--pink);
    cursor: pointer;
    width: 41px;
    height: 40px;
    border-radius: 20px;


}
.slider.blue{
    border: 2px solid var(--blue);
}
.slider.blue.thumb{
    background-color: var(--blue);

}


